<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="BookVillage"
        android:usesCleartextTraffic="true"
        android:debuggable="true"
        android:theme="@style/Theme.BookVillageMock">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link: bookvillage scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bookvillage" />
            </intent-filter>

            <!-- Deep link: http/https -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="bookvillage.local" />
                <data android:scheme="https" android:host="bookvillage.local" />
            </intent-filter>
        </activity>

        <!-- Exported activity for viewing user profile without authentication -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bookvillage" android:host="profile" />
            </intent-filter>
        </activity>

        <!-- Exported activity for order details without authentication -->
        <activity
            android:name=".OrderActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bookvillage" android:host="order" />
            </intent-filter>
        </activity>


        <activity
            android:name=".PopupAdminActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

    </application>
</manifest>
